<form [formGroup]="createGroupForm" (ngSubmit)="onSubmit()" novalidate>
  <fieldset class="flex flex-column border-none gap-5" [disabled]="loading">
    <p-floatLabel class="pt-3">
      <input
        type="text"
        pInputText
        id="name"
        title="Group Name"
        formControlName="name"
        class="w-full"
      />
      <label for="name">Group Name</label>
    </p-floatLabel>
    <p-floatLabel>
      <input
        type="text"
        pInputText
        id="description"
        title="Group Description"
        formControlName="description"
        class="w-full"
      />
      <label for="description">Description</label>
    </p-floatLabel>
    <div class="flex w-full justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" />
      <button
        pButton
        title="submit"
        type="submit"
        label="Submit"
        [disabled]="createGroupForm.invalid"
        [loading]="loading"
      ></button>
    </div>
  </fieldset>
</form>
