@model LinkyAppBackend.Api.Models.Templates.ResetPasswordModel

<h1>Reset Your Password</h1>

<p>Hello @Model.UserName,</p>

<p>We received a request to reset your password. You can reset it by clicking the link below:</p>

<p>
    <a href="@Model.Link" style="background-color:#4CAF50;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;">Reset Password</a>
</p>

<p>If you didn’t request a password reset, you can ignore this email.</p>

<p>Thanks,<br>LinkyApp</p>